<section class="narrative" [class.narrative--reverse]="reverse">
  <div class="narrative__text">
    @if (heading) {
      <h2 class="narrative__heading">{{ heading }}</h2>
    }
    @for (para of bodyParagraphs; track $index) {
      <p class="narrative__body">{{ para }}</p>
    }
  </div>
  <div class="narrative__image">
    @if (imageUrl) {
      <img [src]="imageUrl" [alt]="imageAlt" />
    } @else {
      <div class="narrative__placeholder">
        <span>{{ imageAlt }}</span>
      </div>
    }
  </div>
</section>
